@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:blueviolet"><b>Bienvenido</b></h1>
    <h5>A RostrosFelices aplication</h5>
</div>
